body{
	background-color: #f5D9DF;
	font-family: "Nunito", sans-serif;
}

#mainNavbar .nav-link{
	color: white;
}

#mainNavbar .nav-link:hover{
	color: #EA1C2C;
}

#mainNavbar {
	font-size: 1.5rem;
	font-weight: 100;
}

#mainNavbar .navbar-brand{
	color: #EA1C2C;
}

#headingGroup span{
	color: #EA1C2C;
}

#headingGroup h1{
	font-weight: 100;
	font-size: 4rem;
}

@media(max-width: 1200px){
	#headingGroup h1{
		font-weight: 100;
		font-size: 3rem;
	}
	.blurb h2 {
        font-size: 2rem;
    }
}

.blurb h2 {
   color: #EA1C2C;
   font-weight: 100;

}

.blurb p {
    color: #f498b8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content{
	margin-top: 100px;
}

.navbar.scrolled {
    background: rgb(222,192,222);
    transition: background 500ms;
}
